<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="public/css/style.css">
  <title> Experiment </title>
</head>

<body>
<form id="info" method="POST" action="/information">
  <label for="age"> Age: </label>
  <input type="text" name="age">
  <input type="submit" value=submit />
  </form>
</body>
</html>
